
{# This file is included from collection.html.twig , it shows each item in a collection #}
{# variables available: object, module, filters, currentTag, msg, has_msg #}
{# see what's inside object with {{ dump(object) }} #}

<li><a href="{{ object.link }}">{{ object.name }}</a></li>
