
{# This file is included from the search page , it shows each item matching the search #}
{# variables available: object, module #}
{# see what's inside object with {{ dump(object) }} #}

<div>
    <a href="{{ object.link }}">{{ object.name }}</a>
</div>
