
{# this file is shown on the search page #}

<a href="{{ object.link }}" class="media-object recipes-search-each">
    <div class="media-object-img">
        <img src="{{ object.image }}">
    </div>
    <div class="media-object-bd h2">{{ object.name }}</div>
</a>
